@import 'tailwindcss';
@plugin "daisyui";
@import '@ucdavis/gunrock-tailwind/imports.css';
/* @plugin "daisyui/theme" {
  name: 'gunrock';
  --color-primary: var(--color-ucd-doubledecker);
}

@theme inline {
  --color-primary-color: var(--color-ucd-recpool);
} */
